doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    header
     h1 Unit 8: #{title}
    div.container
      block content
